extends layout.pug 


block title 
	<title>Обо мне</title>


block content 		
	h2 Обо мне
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut saepe atque culpa quis architecto, molestias asperiores dignissimos ab in sint unde. Praesentium, totam facilis consequuntur accusamus quod officiis omnis!Alias perspiciatis cumque sequi fuga voluptatibus voluptate distinctio fugiat pariatur recusandae dignissimos quo rerum earum corrupti, omnis qui architecto ad in eum at sed dicta aut similique unde? Omnis, nobis!